@page "{id}"
@model Kalamarket.Web.Pages.Admin.Roles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>ايا از حذف "@Model.Role.RoleTitle" مطمين هستيد؟</h3>
<div>
	<div class="mb-4">
		<label for="Product_ProductName" class="form-label">عنوان نقش</label>
		<input class="form-control mb-3" asp-for="Role.RoleTitle" readonly placeholder="عنوان نقش" aria-label="default input example">

	</div>
	<form method="post">
		<input type="hidden" asp-for="Role.RoleId" />
		<input type="submit" value="حذف" class="btn btn-danger" />
	</form>
</div>
