@page "{id}"
@using Kalamarket.Core.Convartor
@model Kalamarket.Web.Pages.Admin.Discounts.EditModel
@{
}
<form method="post">
	<input type="hidden" asp-for="Discount.DiscountId"/>
	<div class="mb-4">
		<label for="Product_ProductName" class="form-label">كد تخفيف</label>
		<input class="form-control mb-3" asp-for="Discount.DiscountCode" placeholder="كد تخفيف" aria-label="default input example">
		<span class="text text-danger" asp-validation-for="Discount.DiscountCode"></span>
	</div>
	<div class="mb-4">
		<label for="Product_ProductName" class="form-label">درصد تخفيف</label>
		<input class="form-control mb-3" asp-for="Discount.DiscountPersent" placeholder="درصد تخفيف" aria-label="default input example">
		<span class="text text-danger" asp-validation-for="Discount.DiscountPersent"></span>
	</div>
	<div class="mb-4">
		<label for="Product_ProductName" class="form-label">تعداد استفاده (اختيارى)</label>
		<input class="form-control mb-3" asp-for="Discount.UsableCount" placeholder="تعداد استفاده" aria-label="default input example">
		<span class="text text-danger" asp-validation-for="Discount.UsableCount"></span>
	</div>
	<div class="mb-4">
		<label for="Product_ProductName" class="form-label">تاريخ شروع</label>
		<input type="text" id="stDate" name="stDate" autocomplete="off" value="@((Model.Discount.StartDate != null) ? Model.Discount.StartDate.Value.Toshamsi() : "")" />
		<span class="text text-danger" asp-validation-for="Discount.StartDate"></span>
	</div>
	<div class="mb-4">
		<label for="Product_ProductName" class="form-label">تاريخ انتها</label>
		<input type="text" id="edDate" name="edDate" autocomplete="off" value="@((Model.Discount.EndDate != null) ? Model.Discount.EndDate.Value.Toshamsi() : "")" />
		<span class="text text-danger" asp-validation-for="Discount.EndDate"></span>
	</div>
	<button type="submit" class="btn btn-outline-warning px-5 mb-3">ويرايش</button>
</form>
@section Scripts {
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#stDate").datepicker({ dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true });
			$("#edDate").datepicker({ dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true });
		});
	</script>

}