@page "{id}"
@model Kalamarket.Web.Pages.Admin.Reports.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            موضوع :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.Subject.SubjectName)
        </dd><dt class="col-sm-2">
            عنوان :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.MassageTitle)
        </dd>
        <dt class="col-sm-2">
            متن :
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.ContactUs.Massagebody)
        </dd>
        <dt class="col-sm-2">
            نام :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.User.FullName)
        </dd>
    </dl>
</div>