@using Kalamarket.Core.DTOs.User
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشي كلمه عبور";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="/" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content p-3">
                                    <h4 class="mb-2">فراموشی گذرواژه</h4>
                                    <p>گذرواژه خود را فراموش کرده اید؟ ایمیل خود را وارد کنید.</p>
                                    <form asp-controller="Account" asp-action="ForgetPassword" method="post" class="form-account text-right">
                                        <div class="form-account-title">
                                            <label for="email-phone">ایمیل</label>
                                            <input asp-for="Email" class="number-email-input">
                                            <span class="text text-danger" asp-validation-for="Email"></span>
                                        </div>
                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-login">بازگردانی رمز عبور</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>