@{
	ViewData["Title"] = "تكميل حساب كاربری";
}

<div class="container">
	<div class="row">
		<div class="col-lg">
			<section class="page-account-box">
				<div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
					<div class="ds-userlogin">
						<a href="/" class="account-box-logo">digismart</a>
						<div class="account-box">
							<div class="Login-to-account mt-4">
								<div class="account-box-content">
									<div class="user-account-welcome">
										<img src="~/assets/images/man.png">
									</div>
									<div class="made-account">
										<h2>حساب کاربری شما در کالامارکت ساخته و تاييد شد</h2>
										<p>
											ميتوانيد با وارد شدن و با تکمیل اطلاعات حساب کاربری
											خود به کلیه امکانات و
											سرویس‌های کالامارکت و سرویس‌های وابسته به آن دسترسی داشته باشید
										</p>
									</div>
									<div class="form-row-account">
										<a href="/Login" class="btn btn-primary btn-login">ورود به کالامارکت</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>